
<div class="new-section-list"> Your movie lists </div>

<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
        <div class="card-category">
            <%= link_to list_path(list) do %>
            <%= list.name %> <%= link_to "(X)", list_path(list), method: :delete, data: { confirm: "Are you sure you want to delete this list?"} %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
