// Specific CSS for your home-page
.body {
  background-color:#FFF2F2;

}

h1 {
  font-size: 70px;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

.home-typed {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  color:#809A6F;
}
