.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a {
    color: #6D8B74;
    font-family: 'Quicksand', sans-serif;
  }
}

.card-category-show {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.img-show {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

// Flip card section

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 480px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #809A6F;
  color: white;
  transform: rotateY(180deg);
}

.show-card-title {
  font-size: 24px;
  text-align: center;
  padding:10px;
  background-color: #EFEAD8;
}


.show-page-title {
  text-align: center;
  color:#6D8B74;
}

.show-comment {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.user-show-comment {
  text-align: left;
  margin-left: 8px;
  margin-bottom: 120px;
  font-size: 14px;
}
