// .navbar-lewagon {
//   justify-content: space-between;
//   background: #C2DED1;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 50px;
// }


/* Style the navbar */
// #navbar {
//   overflow: hidden;
//   background-color: #333;
// }

// /* Navbar links */
// #navbar a {
//   float: left;
//   display: block;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px;
//   text-decoration: none;
// }

// /* Page content */
// .content {
//   padding: 16px;
// }

// /* The sticky class is added to the navbar with JS when it reaches its scroll position */
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

// /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
// .sticky + .content {
//   padding-top: 60px;
// }

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #809A6F;
  // display: flex;
  // justify-content: space-between;
}

ul {
  margin:0 auto;
  width:80%;
  display:flex;
  justify-content:space-between;
  list-style: none;
  padding: 0px;
  }

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.navbar input {
  width:50%;
}
