.new-section {
  background-color: #809A6F;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.new-section-list{
background-color: #f4f4f4;
font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: #809A6F;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
